<div class="col-lg-6">
  <h2>Movie List:</h2>
  <h3><%= @list.name %></h3>
  <div class="btn-style">
    <p><%= link_to "Bookmark",  new_list_bookmark_path(@list), class: 'btn-book' %></p>
    <p><%= link_to "Movie lists",  lists_path, class: 'btn-book' %></p>
  </div>
</div>

<div class="container">
  <% @bookmarks.each do |bookmark| %>
      <div class="card-category-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2020/02/27/18/54/popcorn-4885565_1280.jpg)">
        <h3 style="writing-mode: horizontal-tb"><%= bookmark.movie.title %></h3>
        <p style="writing-mode: horizontal-tb text-wrap"><%= bookmark.movie.overview %></p>
        <p><%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "are you sure?" }, class: 'btn btn-danger pull-bottom' %></p>
      </div>
  <% end %>
</div>
